<!--The content below is only a placeholder and can be replaced.-->
<!-- <header class="header-logo py-3 px-50">
    <img src="../../../assets/images/satyamev-jayte.svg" class="emblem-logo" alt="Satyamev Jayte" />
    <img src="../../../assets/images/aadhaar_english_logo.svg" class="float-right aadhaar-logo" alt="Aadhaar Logo" />
    <p class="mamp float-right">Mera <span class="clr-db2031">Aadhaar</span>, Meri Pehchaan</p>
</header> -->
<header class="header-logo py-2">
    <div class="container">
        <img src="../../../assets/images/satyamev-jayte.svg" class="emblem-logo" alt="Satyamev Jayte" />
        <img src="../../../assets/images/aadhaar_english_logo.svg" class="float-right aadhaar-logo" alt="Aadhaar Logo" />
    </div>
</header>
<app-alert></app-alert>
<router-outlet></router-outlet>