.header-logo {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 66px;
}
// .emblem-logo,
// .aadhaar-logo {
//     height: 50px;
// }
@media screen and (max-width: 768px) {

}