@media screen and (max-width: 768px) {
    .enrolment-step-header ul li {
        font-size: 10px;
        display: block;
        width: 100%;
        text-align: left !important;
        margin: 16px auto;
    }
}